main{
    display: flex;
   margin-top: 2rem;
   
   
}

.li_img{
    vertical-align: middle;
    padding-right: 1rem;
    width: 80px;
    height: auto;
    
    
}
li{
    font-size: 1.5rem;
    font-family: slabo,sans-serif;
    padding: 2rem;
    margin-right: 9rem;
   
   
}
.map{
    width: 700px;
    height: auto;
    border: 1px solid brown;
    margin: 2rem 1rem 1rem 2rem; 
}

@media screen and (max-width:642px){
    main{
        flex-direction: column;
        margin-top: 1rem;
        /* align-items: center; */
  
    }
    li{
        font-size: 1.2rem;
        padding: 1.4rem;
        margin-right: 0;
    }
    .map{
        width: auto;
        height: 300px;
        margin: 2rem 1rem 2rem 1rem;
    }
}

