* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.head_menu {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  border-top: solid 5px rgba(170, 57, 29, 1);
  border-bottom: solid 3px rgba(170, 57, 29, 1);
  position: relative;
}
.head_text_img {
  margin: 20px;
  font-family: Caveat, sans-serif;
}
.img_head {
  vertical-align: middle;
}

.nav_links {
  position: absolute;
  padding-right: 1rem;
  bottom: 0;
  right: 0;
}
.nav_a {
  font-family: Antic Slab, sans-serif;
  text-decoration: none;
  color: #7a3d32;
  color: rgba(170, 57, 29, 1);
}

.nav_a:hover {
  color: rgb(244, 164, 96);
  transition: all 2s ease;
}
.under_head {
  height: 4rem;
  background-color: rgb(244, 164, 96);
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  color: brown;
}
.main_content{
  margin: 2rem;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;

 }
 .divImg{
   text-align: center;
  border-top:1px solid gray;
 
    padding: 10px 0;
    
 }
 .divImg img{
   width: 70%;
    box-shadow:10px 10px 10px;
 }

/*              M O B I L                   */

@media screen and (max-width: 890px) {
  .nav_a{
    font-size: 1.5rem;
  }
  .main_content{
    margin: 1.4rem;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 642px) {
  .head_menu {
    flex-direction: column;
    font-size: 1.3rem;
    position: static;
  }

  .nav_links {
    display: flex;
    flex-direction: column;
    margin: 0;
    transition: all 2s ease;
    height: 0;
    overflow: hidden;
    background-color: #901d09;
    position: static;
  }
  .main_content{
       width: 90%;
       text-align: justify;
       }
  .newStyle {
    height: 75px;

    transition: all 2s ease;
  }
  .nav_a {
    font-size: 1.1rem;
    background-color: #901d09;

    color: beige;
    text-decoration: none;
    padding-left: 0.8rem;
  }
  .img_head {
    margin: 0;
    padding: 15px;
    /* background-color: red; */
  }
  .head_text_img {
    margin: 0;
    padding: 0px;
    /* background-color: royalblue; */
  }
  .myBtn {
    position: absolute;
    right: 0;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
    height: 45px;
    /* align-self: center; */
  }
  .btn1,
  .btn2,
  .btn3 {
    margin: 6px;
    width: 30px;
    height: 3px;
    background-color: rgb(244, 164, 96);
    /* border: 1px solid red; */
    transition: all 2s ease;
  }

  .change .btn1 {
    transition: all 2s ease;
    transform: rotate(-45deg) translate(-10px, 10px);
    background-color: #7a3d32;
    background-color: rgba(170, 57, 29, 1);
  }
  .change .btn2 {
    transition: all 2s ease;
    opacity: 0;
  }
  .change .btn3 {
    transition: all 2s ease;
    transform: rotate(45deg) translate(-3px, -3px);
    background-color: #7a3d32;
    background-color: rgba(170, 57, 29, 1);
  }
  .nav_a:hover {
    width: 100%;
    color: #7a3d32;
    color: rgba(170, 57, 29, 1);
    background-color: sandybrown;
    background-color: rgb(244, 164, 96);
    padding-left: 1rem;
    transition: all 1s ease;
  }
  .under_head {
    height: 2rem;

    font-size: 1.5rem;

    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
  }
  .main_content{
    margin: 1.1rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.1rem;
  }
  .divImg img{
    width: 90%;
  }

}
/*           790            */
