.ul_main {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
section {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 500px;
  width: 300px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
  padding-bottom: 1.3rem; 

}
.ul_liste {
  /* font-weight: bold; */
  font-size: 1.3rem;
  list-style: none;
  line-height: 2.5rem;
  font-family: Josefin Sans, sans-serif;
  color: sandybrown;

}
.ul_topic{
  font-family: Josefin Sans, sans-serif;
  border-radius: 5px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  
  color: sandybrown;
  color: rgb(244, 164, 96);
  border-bottom: 1px solid sandybrown;

 
}

section.left {
  margin-left: 4rem;
  
  background-image: url('img/dirt.jpg');
  
  
}
section.center {
  

background-image: url('img/package.jpg');
}

section.right {
  margin-right: 4rem;

background-image: url('img/clean.jpg');
}

/*   m o b i l*/
/*                      1  0   9   0                  */
@media screen and (max-width:1090px){
  
  section {
  height:450px;
    }
    .ul_liste {
      
      font-size: 1.3rem;
      line-height: 2.1rem;
      
    }
    .ul_topic {
      font-family: Josefin Sans, sans-serif;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    section.left {
      margin-left: 1.2rem;
    }
    section.right {
      margin-right: 1.2rem;
    }
}
@media screen and (max-width:990px){
  .ul_main{
   
  }
  section {
  width: 300px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem; 
      margin-left: auto;
      margin-right: auto;
    }
    .ul_topic {
      font-family: Josefin Sans, sans-serif;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: lawngreen;
    }
    .ul_liste {
      
      font-size: 1rem;
      line-height: 1.5rem;
    }
   
    section.left {
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
      
    }
    section.center{
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
    }
    section.right {
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem;
    }
    
}
@media screen and (max-width:790px){
  .ul_main{
      flex-direction: column;
  }
  section {
      margin: 0 auto;
    }
    .ul_liste {
      /* font-weight: bold; */
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .ul_topic {
      font-family: Josefin Sans, sans-serif;
      margin-bottom: 1rem;
      color: #7a3d32;
      color: rgba(170, 57, 29, 1);
      font-size: 1.3rem;
      color: red;
    }
    section.left {
      margin: 0 auto;
      margin-top: 1.5rem;
      margin-bottom:1.5rem;
    }
    section.center{
margin-top:1.5rem;
margin-bottom:1.5rem;
    }
    section.right {
     margin: 0 auto;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
}
@media screen and (max-width:642px){
    .ul_main{
        flex-direction: column;
    }
      section {
        margin: 0 auto;
        
  
      }
      .ul_liste {
        /* font-weight: bold; */
        font-size: 1.2rem;
      line-height: 1.5rem;
      }
      .ul_topic {
        font-family: Josefin Sans, sans-serif;
        
       /* color: #7a3d32;*/
        color:pink;
        font-size: 1.3rem;
      }
      section.left {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
      }
      section.center{
margin-top: 1.5rem;
margin-bottom: 1.5rem; 
      }
      section.right {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
      }
}
