.ul_main {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
section {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 500px;
  width: 300px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .7);
  padding-bottom: 1.3rem; 

}
.ul_liste {
  /* font-weight: bold; */
  font-size: 1.3rem;
  list-style: none;
  line-height: 2.5rem;
  font-family: Josefin Sans, sans-serif;
  color: sandybrown;
  color: rgb(255, 179, 80);

}
.ul_topic{
  font-family: Josefin Sans, sans-serif;
  border-radius: 5px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: sandybrown;

  color: rgb(226, 101, 17);
  border-bottom: 1px solid sandybrown;
height: 50px;
 
}

section.left {
  margin-left: 4rem;
  
  background-image: url('img/dirt.jpg');
  padding-bottom: 1rem;
  
}
section.center {
  

background-image: url('img/package.jpg');
}

section.right {
  margin-right: 4rem;

background-image: url('img/clean.jpg');
}

/*   m o b i l*/
/*                      1  0   9   0                  */
@media screen and (max-width:1090px){
  
  section {
  height:450px;
    }
    .ul_liste {
      line-height: 2.1rem;
      
    }
    .ul_topic {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    section.left {
      margin-left: 1.2rem;
    }
    section.right {
      margin-right: 1.2rem;
    }
}
@media screen and (max-width:990px){
  section {
  width: 300px;
  height: 500px;
  padding-bottom: 1rem; 
      
    }
    section.left {
      margin-left: 0.5rem;
    }
    section.right {
      margin-right: 0.5rem;
    }
    }
@media screen and (max-width:915px){
  
  section {
  width: 250px;
    }
  

@media screen and (max-width:790px){
  .ul_main{
      flex-direction: column;
  }
  section{
    width: 350px;
      height: 450px;
  }
    .ul_liste {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    .ul_topic {
      font-size: 1.3rem;
    }
    section.left {
      margin: 0 auto;
      
margin-top: 1.5rem;
margin-bottom: 1rem;
    }
    section.center{
      margin: 0 auto;
    }
    section.right {
     margin: 0 auto;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
}
@media screen and (max-width:642px){
    section {
      height: 500px;
      width: 300px;
    }
     
      .ul_liste {
        /* font-weight: bold; */
        font-size: 1.2rem;
      
      }
      .ul_topic {
       
        font-size: 1.4rem;
        font-size: 1.3rem;
      }
      
}
